@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');



/* 0 - VARIAVEIS */
:root{
    --cor-marrom1:#1F1517;
    --cor-marrom2:#181012;
    --cor-marrom3:#241A1C;
    --cor-marrom4:#23181A;
    --cor-branco:#FFFFFF;
    --cor-marrom-cl:#A45A49 ;
    --cor-cinza: #C7BAB3;
    --cor-cinza2:#756A67;
    --cor-amarelo: #E7A80E;

    --teko:'Teko', 'sans-serif';
    --inter: 'Inter', 'sans-serif';
    --montserrat:'Montserrat', 'sans-serif';
    --epilogue: 'Epilogue', 'sans-serif';
}

/* 1 - GERAL */
*{
    margin: 0;
    padding: 0;
}

body{
    background: var(--cor-marrom1);
    color: var(--cor-branco);
}

html{
    font-family: var(--inter);
    font-weight: 500;
}

a{
    text-decoration: none;
    color: #FFF2E780;
}

ul{
    list-style: none;
}

/* 2 - HEADER */
.logo{
    font-family: var(--teko);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}


nav{
    margin:  auto;
    max-width: 1120px;
    padding: 1.5rem 10rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.github{
    color: #FFF2E7;
    font-weight: 600;
}

/* 3 - MAIN */

main{
    display: flex;
    flex-direction: column;
}

.hero-background{
    background-color: var(--cor-marrom2);
}

.hero {
    background-color: var(--cor-marrom2);

    max-width: 1120px;
    height: 60vh;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;

    padding: 0px 2rem;
    margin: auto;
    overflow: clip;
}

.hero-conteudo{
    display: flex;
    flex-direction: column;
    
    gap: 1rem;
    max-width: 480px;
}

.destaque{
    
    text-transform:uppercase ;
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--epilogue);
}

.marrom{
    color: var(--cor-marrom-cl);
}

.amarelo{
    color:var(--cor-amarelo) ;
}

.hero-titulo-principal{
    font-size: 3.5rem;
    font-family: var(--montserrat);
    font-weight: 800;
}

.hero-hr{
    width: 240px; 
    height: 2px;
    border:1px solid #A45A49;
}

.hero-subtitulo{
    font-size: 1.5rem;
    color: var(--cor-cinza);
    font-family: var(--inter);
    font-weight: 400;
}


.hero-imagens-container{
    max-width: 45%;
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;

}

.hero-imagens-container > figure > img{
    width: 100%;
    border-radius: 8px;

}

.btn-container{
    width: 100%;
    max-width: 1120px;
    margin: auto;
    transform: translate(0, -50%);
}

button {
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--cor-marrom-cl);

}

.receitas{
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
}

.receitas-head{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 1120px;
}

.receitas-titulo{
    font-family: var(--montserrat);
    font-weight: bold;
    font-size: 2rem;
    color: var(--cor-branco);
}

.receitas-subtitulo{
    font-size: 1rem;
    color: var(--cor-cinza);
    font-family: var(--inter);
    font-weight: 400;
}


.receitas-card-container{
    margin: auto;
    max-width: 1120px;
    padding: 0rem ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.receitas-card{
    background-color:var(--cor-marrom3);
    padding: 2rem;
    border-radius: 0.5rem; 
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 30rem;
    margin-top:2rem ;
}


.receitas-card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.receitas-card-header-detalhe{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receita-titulo{
    font-family: var(--montserrat);
    color: var(--cor-branco);
    font-weight: bold;
    font-size: 1.5rem;
}

.receita-avaliacao{
    color: var(--cor-cinza2);
    font-family: var(--inter);
    font-size: 1rem;
    font-weight: 500;
}

.receita-descricao{
    font-family: var(--inter);
    font-size: 1rem;
    color: var(--cor-cinza);
    font-weight: 400;
}

.receita-autor{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.autor-img{
    border-radius:20rem;
    width: 1.8rem;
}

.nome-autor{
    font-family: var(--inter);
    font-size: 1rem;
    color: var(--cor-cinza);
    font-weight: 600;
}

footer{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--cor-marrom4);
}

